#maqinato .htaccess file
#ServerSignature EMail
#SetEnv SERVER_ADMIN https://github.com/maparrar/maqinato

#Hide the files in all folders
IndexIgnore *

#Avoid vulnerability by no GET or POST requests
<LimitExcept GET POST>
    Order Allow,Deny
    Deny from all
</LimitExcept>

#Compress sending data
SetOutputFilter DEFLATE

#Redirecciona todas las peticiones al index de la aplicación
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^$   index.php [L]
    RewriteRule (.*) index.php [L]
</IfModule>