/**
Estilos generales de la aplicación, que puedan ser usados en todas las páginas.
Por ejemplo: fuentes, colores de fondo "corporativos", headers y footers.
*/
header{
    background: #ADB6B6;    /* Color: primary-4*/
    font-size: 20px;
    height: 38px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}
header .logo{
    float: left;
    font-size: 1.5em;
    height: 25px;
    text-indent: 10px;
    line-height: 25px;
    padding: 5px;
}
header .logo a{
    color: #595B5B;         /* Color: primary-2*/
    text-decoration: none;
}
header .link{
    background: red;
    color: #eee;
    cursor: pointer;
}
footer{
    background: #003737;    /* Color: primary-3*/
    bottom: 0;
    color: #CCC;
    font-size: 0.6em;
    height: 30px;
    line-height: 30px;
    position: fixed;
    text-align: center;
    width: 100%;
}
body{
    /*background: #F2F0F7;     Color: primary-5*/
    color: #595B5B;         /* Color: primary-2*/
}
/* COSAS SELECCIONADAS
    #ADB6B6                        /* Color: primary-1*
                            
*/
.container{
    min-width: 300px;
}
.content{
    background: #fff;
    margin-top: 50px;
}
input[type="text"], input[type="password"]{
    
}
.errorPlaceholder{
    color: red;
}
.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color:#77d42a;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #268a16;
    display:inline-block;
    color:#306108;
    cursor: pointer;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:35px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #aade7c;
}
.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
    background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
    background-color:#5cb811;
}
.button:active {
    position:relative;
    top:1px;
}

/******************************************************************************/
/******************************* MEDIA QUERIES ********************************/
/******************************************************************************/
/* ESTILOS ADICIONALES PARA TABLETS */
@media screen and (max-width: 800px){
    header{
        /*background: blue;*/
    }
}
/* ESTILOS ADICIONALES PARA MÓVILES */
@media screen and (max-width: 639px){
    header{
        /*background: green;*/
        height: 70px;
    }
    header .logo{
        float: none;
        font-size: 1.5em;
        height: 25px;
        line-height: 25px;
    }
    .content{
        margin-top: 70px;
    }
    footer{
        font-size: 0.5em;
        height: 20px;
        line-height: 20px;
    }
}
/* ESTILOS ADICIONALES PARA DISPOSITIVOS PEQUEÑOS (TELÉFONOS PEQUEÑOS) */
@media screen and (max-width: 359px){
    header{
        background: yellow;
    }
}