/**
    H O M E   P A G E   C S S
*/

#impactMenu .tag{
    cursor: pointer;
}

/* Top bar estática */
#top-bar{
    background: #F6F6F6;
    border-bottom: 1px solid #E0E0E0;
    left: 0;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 20;
}
#top-bar #floater{
    height: 100%;
}

    /* FOLIOS */
    #portafolio {
        margin: 80px 10px 5px;
    }
        #portafolio h2 {
            font-size: 14px;
            margin: 5px 0 2px;
            width: 100px;
        }
        #portafolio h3 {
            color: #9DA3AA;
            font-size: 12px;
            margin-bottom: 7px;
        }
        #portafolio .portafolioCarrusel{
            background: #f1f1f1;
            border: none;
            box-shadow: none;
            margin-bottom: 2px;
        }

    /* HIGHLIGHTS */
    #highlights{
        margin: 10px 10px 0px !important;
    }
        #highlights .feature{
            background: #fcfcfc;
            color: #999;
            float: left;
            height: 240px;
            width: 620px;
        }
            #highlights .feature .head {
                padding: 3px;
            }
            #highlights .feature .info {
                font-size: 13px;
                height: 100px;
                margin: 10px;
            }
            #highlights .feature .footpoints-info{
                font-size: 19px;
                font-weight: bold;
                margin-left: 15px;
                width: 200px;
            }
            #highlights .feature #plusPoints{
                font-size: 32px;
                font-weight: 400;
            }
            #highlights .feature #featureImage{
                height: 197px;
                max-width: none;
                width: 622px;
            }
            #highlights .tags-menu{
                clear: left;
                height: 25px;
                position: relative;
            }
            #highlights .tagsArea{
                width: 340px;
            }
        #highlights #doKnow {
            float: left;
            margin-left: 30px;
            width: 290px;
        }
            #highlights #doKnow .box{
                height: 108px;
                margin-bottom: 20px;
            }
            #highlights #doKnow #know{
                cursor: pointer;
            }
            #highlights #doKnow #do img{
                height: 37px;
                margin-left: 5px;
                width: 37px;
            }
            #highlights #doKnow #know img{
                height: 37px;
                margin-left: 11px;
                width: 37px;
            }
            #highlights #doKnow #dospan{
                margin-left: 78px;
            }
            #highlights #doKnow #knowspan{
                margin-left: 41px;
            }
/*compartir historia*/
#stories {}            
#stories .upload-stories {
    margin-top: 100px;
    margin-left: -112px;
    height: auto !important;
}
#stories .upload-stories textarea {
    color: #111111;
    height: 47px;
    margin-bottom: 5px;
    resize: none;
    width: 300px;
}
#stories .upload-stories .btn-content a.btn-upload-story {
    background: url("../img/btn/btn-upload-story.png") no-repeat scroll center top transparent;
    float: right;
    height: 17px;
    margin-right: 18px;
    text-indent: -8000px;
    width: 30px;
}
.hideStories{
    display: none !important;
}
.showStories{
    display: inline ;
}
.moveContainer{
    margin-top: 200px !important;
}
.btn-show-stories{
    background: url("../img/btn/btn-show-story.png") no-repeat scroll 0 0 transparent;
    float: inherit;
    height: 25px;
    margin: 45px 15px 0 0;
    text-indent: -8000px;
    width: 100px;
}
.btn-show-stories:hover{
    background: url("../img/btn/btn-show-story.png") no-repeat scroll -102px 0 transparent;
}
.btn-show-stories.active{
    background: url("../img/btn/btn-show-story.png") no-repeat scroll -100px 0 transparent;
}
